
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SimpleFingerstyle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <script src="https://apis.google.com/js/platform.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
  	<div class="row">
  		<div class="one column"><a class="navbar-link" href="/">Home</a></div>
  		<div class="one column"><a class="navbar-link" href="/lessions">Tabs</a></div>
  		<div class="four columns"><a class="navbar-link" href="/improve">Improve my tutorials!</a></div>
	    <div class="four columns">&nbsp</div>
	    <div class="two columns"><a class="navbar-link" style="margin-right: 10px;" href="/ru">RU</a>|<a class="navbar-link" style="margin-left: 10px;" href="en">EN</a></div>
  	</div>

    <div class="row">
    	<div class="twelve columns" style="margin-top: 10%">
        <h4>You can improve my tutorisals!</h4>
        <ol>
          <p>At the moment I have the following equipment: acoustic guitar <strong>Fender CD-60</strong>, microphone <strong>Behringer C-1U</strong>, digital camera <strong>Nikon D5200</strong>. 
              This is the entry-level equipment but I need more professional equipment for better quality of sound and video.</p>
          <p>Create video tutorials takes a long time. As you know, time is money.</p>
          <p>If you like what I do, support my project with a small contribution.</p>
        </ol>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
