<div class="row">
	<div class="twelve columns" style="margin-top: 10%">
    <h4>You can improve my tutorisals!</h4>
    <ol>
      <p>At the moment I have the following equipment: acoustic guitar <strong>Fender CD-60</strong>, microphone <strong>Behringer C-1U</strong>, digital camera <strong>Nikon D5200</strong>. 
          This is the entry-level equipment but I need more professional equipment for better quality of sound and video.</p>
      <p>Create video tutorials takes a long time. As you know, time is money.</p>
      <p>If you like what I do, support my project with a small contribution.</p>
    </ol>
  </div>
</div>