
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SimpleFingerstyle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <script src="https://apis.google.com/js/platform.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
    <div class="row">
      <div class="one columns"><a class="navbar-link" href="/ru" style="letter-spacing: .1rem;">Главная</a></div>
      <div class="one columns"><a class="navbar-link" href="/ru/lessions" style="letter-spacing: .1rem; padding-left: 10px">Табы</a></div>
      <div class="four columns"><a class="navbar-link" href="/ru" style="letter-spacing: .1rem;">Сделайте мои уроки лучше!</a></div>
      <div class="four columns">&nbsp</div>
      <div class="two columns"><a class="navbar-link" style="margin-right: 10px;" href="/ru">RU</a>|<a class="navbar-link" style="margin-left: 10px;" href="en">EN</a></div>
    </div>

    <div class="row">
    	<div class="four columns" style="margin-top: 25%">
    		<img src="logo.png">
    	</div>
      <div class="eight columns" style="margin-top: 25%">
        <h4>Добро пожаловать!</h4>
        <p>Всем привет! Меня зовут Дмитрий и я гитарист из России. Я начал играть в 17 лет, а к 25 годам открыл для себя стиль игры известный как фингерстайл (fingerstyle). Я начал разучивать много композиций с использованием этой техники.  </p>
        <p>Мне доставляет удовольствие создавать аранжировки песен и видеоуроки. Поэтому я решил создать канал на Youtube для всех кому это может быть интересно.</p>
      </div>
    </div>
    <div class="row">
      <div class="ten columns">&nbsp</div>
      <div class="two columns">
        <div class="g-ytsubscribe" data-channelid="UCmUj0muR2hOJL47wYwB12Fg" data-layout="default" data-count="default"></div>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
