
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SimpleFingerstyle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <script src="https://apis.google.com/js/platform.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
  	<div class="row">
  		<div class="one column"><a class="navbar-link" href="/">Home</a></div>
  		<div class="one column"><a class="navbar-link" href="/lessions">Tabs</a></div>
  		<div class="four columns"><a class="navbar-link" href="/">Improve my tutorials!</a></div>
	    <div class="four columns">&nbsp</div>
	    <div class="two columns"><a class="navbar-link" style="margin-right: 10px;" href="/ru">RU</a>|<a class="navbar-link" style="margin-left: 10px;" href="en">EN</a></div>
  	</div>

    <div class="row">
    	<div class="four columns" style="margin-top: 25%">
    		<img src="logo.png">
    	</div>
      <div class="eight columns" style="margin-top: 25%">
        <h4>Welcome!</h4>
        <p>Hey Everyone! My name is Dmitriy and I’m a fingerstyle guitarist from Russian Federation. I started playing the guitar when I was 17 years old and at the age of 25 I discovered a guitar style called Fingerstyle Guitar. Shortly after discovering Fingerstyle guitar I started practicing a lot of songs and a year later I uploaded my first Youtube video. </p>
        <p>It is a pleasure to create arrangements of songs and video tutorials. So I decided to create a channel on YouTube for all to whom it might be interesting.</p>
      </div>
    </div>
    <div class="row">
      <div class="ten columns">&nbsp</div>
      <div class="two columns">
        <div class="g-ytsubscribe" data-channelid="UCmUj0muR2hOJL47wYwB12Fg" data-layout="default" data-count="default"></div>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
