
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Tutorials & Tabs</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
  	<div class="row">
      <div class="one column"><a class="navbar-link" href="/">Home</a></div>
      <div class="one column"><a class="navbar-link" href="/lessions">Tabs</a></div>
      <div class="four columns"><a class="navbar-link" href="/improve">Improve my tutorials!</a></div>
      <div class="four columns">&nbsp</div>
	    <div class="two columns"><a class="navbar-link" style="margin-right: 10px;" href="/ru">RU</a>|<a class="navbar-link" style="margin-left: 10px;" href="en">EN</a></div>
  	</div>
	</div>

  <div class="container">
    <div class="row" style="margin-top: 10%">
      <div class="six columns">
        <h4>Guitar tutorials and tabs</h4>
        <ul>
          <li>Red Hot Chili Peppers - Scar Tissue</li>
          <li>Imagine Dragons - Radioactive</li>
          <li>Sam Smith - I'm not the only one</li>
          <li>Maroon 5 - This Summer's Gonna Hurt</li>
          <li>30 Seconds To Mars - Night Of The Hunter</li>
          <li>30 Seconds To Mars - The Kill</li>
          <li>Sting- Fields Of Gold</li>
          <li>Ellie Goulding - Love Me Like You Do</li>
          <li>Bob Marley - No Woman No Cry</li>
          <li>Prayer In C</li>
          <li>Imagine Dragons - Demons</li>
          <li>Damien Rice - Cannonball</li>
          <li>Celine Dion - My Heart Will Go On</li>
          <li>Sting - Shape Of My Heart</li>
          <li>Kansas - Dust In The Wind</li>
        </ul>
      </div>
      <div class="six columns">
        <h4>&nbsp</h4>
        <ul>
          <li>Ed Sheeran - The A Team</li>
          <li>Poets of the Fall - Late Goodbye</li>
          <li>Stevie Ray Vaughan - Life By The Drop</li>
          <li>Sting - Every breath you take</li>
          <li>Wiz Khalifa feat. Charlie Puth - See You Again</li>
          <li>Red Hot Chili Peppers - Californication</li>
          <li>2pac - Thugz mansion</li>
          <li>U2 - In a little while</li>
          <li>Staind - It's Been Awhile</li>
          <li>Green Day - Wake Me Up When September Ends</li>
          <li>Ed Sheeran - I see fire</li>
          <li>Lynyrd Skynyrd - Sweet home Alabama</li>
          <li>Red Hot Chili Peppers - My friends</li>
          <li>Jimi Hendrix - Hey Joe</li>
        </ul>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
