<div class="row">
	<div class="twelve columns" style="margin-top: 10%">
    <h4>Вы можете улучшить мои видеоуроки!</h4>
    <ol>
      <p>На данный момент для записи своих видеороликов я использую: акустическую гитару <strong>Fender CD-60</strong>, конденсаторный USB микрофон <strong>Behringer C-1U</strong>, зеркальную фотокамеру <strong>Nikon D5200</strong>. Это оборудование начального уровня, и, чтобы делать более качественный звук и изображение требуется технически более совершенное оборудование и инструмент.</p>
      <p>Создание такого видеоролика занимает много времени, не говоря о том, что время требуется на придумывание / разучивание аранжировки, создание файла в формате <strong>GuitarPro</strong>. Все это приходится совмещать с основной работой. Как Вы знаете, время - деньги. С Вашей поддержкой я смогу уделять больше времени на новые видео.</p>
      <p>Если Вам нравится то, что я делаю и Вы желаете видеть новые видео, поддержите мой проект небольшим взносом.</p>
    </ol>
  </div>
</div>